.containerHeader {
    display: flex;
    justify-content: center;
    background-color: rgb(32, 0, 108);
    color: rgb(255, 255, 255);
    padding: 0px !important;
    height: 7em;

    img {
            position: relative;
            top: -50px;
    }
}